@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  --bg-color: 255 255 255;
  --text-color: 0 0 0;
  font-family: "Outfit", sans-serif;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  transition: background-color 0.5s, color 0.5s;
}

.dark html, .dark body, .dark #root {
  --bg-color: 0 0 0;
  --text-color: 255 255 255;
}
